
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


header {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center;
}
header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-content img {
    max-width: 100%;
    height: auto;
    margin-right: 40px;
}

.project {
    margin-bottom: 40px;
}

.project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}


footer {
    background-color: #333; 
    color: #fff; 
    text-align: center;
    padding: 20px;
}